beautifulsoup4==4.9.3
bcrypt==3.1.4
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cryptography==3.3.2
distro==1.5.0
docker==4.4.4
docker-compose==1.28.5
dockerpty==0.4.1
docopt==0.6.2
fastapi==0.63.0
h11==0.12.0
idna==2.10
importlib-metadata==3.7.3
joblib==1.0.1
jsonschema==3.2.0
paramiko==2.7.2
pycparser==2.20
pydantic==1.7.3
pyrsistent==0.17.3
python-dotenv==0.15.0
PyYAML==5.4.1
regex==2020.11.13
requests==2.25.1
six==1.15.0
soupsieve==2.2
starlette==0.13.6
texttable==1.6.3
tqdm==4.57.0
typing-extensions==3.7.4.3
urllib3==1.26.3
uvicorn==0.13.4
websocket-client==0.58.0
zipp==3.4.1
